name: Mypy
on: workflow_dispatch

jobs:
  mypy_py3:
    name: Mypy check
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.9
          cache: 'pip'
      - name: Install Dependencies
        run: |
          pip install mypy
      - name: mypy
        run: |
          make mypy
